name: HBase for Hadoop 3

on:
  push:
    tags: [ rel/* ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up Java 11
      uses: actions/setup-java@v2
      with:
        distribution: temurin
        java-version: 11

    - name: Build
      run: |
        mvn -Dhadoop.profile=3.0 -Dhadoop-three.version=3.3.6 -DskipTests install
        mvn -Dhadoop.profile=3.0 -Dhadoop-three.version=3.3.6 -DskipTests package assembly:single

    - name: Release zips
      uses: softprops/action-gh-release@v1
      with:
        files: |
          hbase-assembly/target/hbase-2.5.5-bin.tar.gz
